## Anscombe's Quartet Assignment

The object of this assignment is to create a Jupyter notebook to analyse the Anscombe's Quartet dataset using the Python programming language. I will provide a overview of the dataset, descriptive statistics and use scatter plots to visualise the dataset.

### Anscombe's Quartet:

Anscombe's Quartet contains four datasets consisting of eleven x values and eleven y values. The datasets produce similar descriptive statistics however when graphed they are very different. 

The Anscombe's Quartet was created in 1973 by a statistician named Francis Anscombe. He produced the datasets to show the importance of visualising data using graphs before analysing data using descriptive statistics. (Reference needed)

### Libraries in Python:

Python has a large number of libraries which makes it a powerful programming language for analysing and visualising data. The libraries that were imported and used in this project were Pandas, Seaborn and Matplotlib. I found that these libraries, provided the tools, to effectively analyse the Anscombe's Quartet dataset.

### Import Libraries:

In [1]:
import seaborn as sns

### Data:

The Anscombe's quartet data set is available through the seaborn library. The loaded datasets can be seen below - four datasets with eleven different x and y values in each.

In [3]:
df_anscombe = sns.load_dataset('anscombe')

In [5]:
df_anscombe

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [7]:
df_anscombe.head(4)

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81

In [9]:
df_anscombe.tail(4)

   dataset     x      y
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [11]:
df_anscombe.groupby('dataset').size()

dataset
I      11
II     11
III    11
IV     11
dtype: int64

In [17]:
dataset = df_anscombe.groupby('dataset')
for name, group in dataset:
    print('\n\n',name)
    print(group.describe().round(2))

 I
           x      y
count  11.00  11.00
mean    9.00   7.50
std     3.32   2.03
min     4.00   4.26
25%     6.50   6.32
50%     9.00   7.58
75%    11.50   8.57
max    14.00  10.84


 II
           x      y
count  11.00  11.00
mean    9.00   7.50
std     3.32   2.03
min     4.00   3.10
25%     6.50   6.70
50%     9.00   8.14
75%    11.50   8.95
max    14.00   9.26


 III
           x      y
count  11.00  11.00
mean    9.00   7.50
std     3.32   2.03
min     4.00   5.39
25%     6.50   6.25
50%     9.00   7.11
75%    11.50   7.98
max    14.00  12.74


 IV
           x      y
count  11.00  11.00
mean    9.00   7.50
std     3.32   2.03
min     8.00   5.25
25%     8.00   6.17
50%     8.00   7.04
75%     8.00   8.19
max    19.00  12.50